flask==2.0.2
pydantic==1.8.2
flask-sqlalchemy==2.5.1
flask-migrate==3.1.0
requests==2.26.0
multidict==5.2.0
pydantic-sqlalchemy==0.0.9
flask-pydantic[email]==0.8.0
flask-marshmallow==0.14.0
marshmallow-sqlalchemy==0.26.1
flask-injector==0.13.0
flask-jwt-extended==4.3.1
